.header {
  border: 1px solid #ececec;
  @media screen and (min-width: 480px) {
    position: relative;
  }
}
.header-studio {
  background-color: var(--white);
}

.header-container {
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-portfolio {
  background-color: var(--white);
}

.header span {
  color: var(--title-text-color);
}
