.hero {
  display: block;
  width: 100%;
  height: auto;
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
  background-size: cover;
}

.hero__content {
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 60px;
  padding-right: 60px;
}
.section.hero.overlay {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .overlay {
    width: 100%;
    height: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../index-images/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    outline: 1px solid var(--title-text-color);
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../index-images/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 481) and (max-width: 768px) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../index-images/bg-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../index-images/bg-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 769px) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../index-images/bg-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../index-images/bg-desktop@2x.jpg);
    }
  }
}
