.services {
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.services__list {
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.services__container:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-right: 30px;
    margin-bottom: 94px;
  }
}
.services__actions {
  position: absolute;
  top: 77%;
  left: 0;
  display: flex;
}
