.services {
  display: none;
  padding-bottom: 94px;
}

.services__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services__container:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 94px;
}
.services__actions {
  position: absolute;
  top: 77%;
  left: 0;
  display: flex;
}
