.features__item {
  text-align: center;
  // padding-top: 30px;
  // padding-bottom: 30px;
  // width: 270px;
  @media screen and (min-width: 768px) {
    flex-basis: 50%;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 30%;
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}
